#top {
    margin-bottom: 10px;
}

#bottom {
    margin-top: 10px;
}

.taskComplete {
    text-decoration: line-through;
}

.task {
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.task > p {
    flex: 1;
}

.task > input {
    flex: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}